

.container{
    display: flex;
    justify-content: center;
    }


    h1{
    font-weight: 300;
    color:hsl(0, 0%, 59%);
   text-align: center;

    }

    p{
    text-align: center;
    font-size: 20px;
 }


    button{
        margin-left: 20px;
        font-weight:300;
        border: none;
        background:hsl(223, 87%, 63%);
        color: white;
        width: 200px;
        height: 50px;
        border-radius: 20px;
    }

    .fxt{
        font-weight: 300;
        font-size: 20px;
        color:hsl(0, 0%, 59%);
    }

    input{
        border: 1px solid  hsl(223, 87%, 63%);
        border-radius: 20px;
        height: 50px;
        width: 500px;
    }

    span{
        color: black;
        font-weight: 700;
    }

    ol , li {
        margin-left: 20px;
        display: flex;
    }


    /* resporsive code is here */


    @media screen and (max-width:375px) {


        button{
            right: 10px;
            width: 350px;
            top: 210px;
            position: absolute;
        }

        .model{
            top: 150px;
            position: relative;
            height: 300px;
            width: 340px;

        }

        input{
            right: 10px;
            position: absolute;
            width: 350;
        }


    }
