

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,500&family=Inter:wght@200;400&family=Karla:wght@400;700&family=Libre+Franklin:wght@600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,500&family=Inter:wght@200;400&family=Karla:wght@400;700&family=Libre+Franklin:wght@300&display=swap');




h1{
  font-size: 40px;
    justify-content: center;
    display: flex;
    color : hsl(0, 0%, 59%)
}
p{
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
}
.txt{
    justify-content: center;
    display: flex;
    position: relative;
    left: 450px;
    width: 360px;
    height: 45px;
    border-radius: 20px;
  border: 1px  solid  hsl(223, 100%, 88%);
}
span{
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Libre Franklin', sans-serif;

    color: black;
}
button{
    width: 150;
    height: 45px;
    border-radius: 20px;
    border: none;
    color: white;
    background: hsl(223, 87%, 63%);
    position: relative;
    left: 820px;
    top: -45px;
}

.ads{
    margin-top: 40px;
    display: flex;
    width: 600px;
    height: 300px;
    margin-left:400px;
   }


   .logo{
    position: relative;
    left: 700px;
   }

   /* media code is here now media code add if disgen  flowwing */

   @media (max-width:375px){
    
    h1{
    font-size: 30px;
   
    }
    .txt{
    left: 20px;
    width: 300px;
    height: 40;
    } 
       
    button{
    width: 300px;
    top: 12;
    left: 20px;
    }
    .logo{
        left: 140;
    }

    .ads{
        height: 200;
        width: 300;
        margin-left: 20px;
    }

    p{
        font-size: 15;
    }

   }
/*media code is complated */
