body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    background-color:hsl(30, 38%, 92%)
}

.mgb{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 100px;
}


.container{
    border-radius: 5px;
   
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    justify-content: center;
    align-items: center;
       background-color: blue;
        display: grid;
        width:450px;
        height: 400px;
        border-radius: 5px;

}
.box2{
    justify-content: center;
    align-items: center;
        background-color: hsl(0, 0%, 100%);
        display: grid;
        width: 400px;
        height: 400px;
        border-radius: 4px 4px ;
}
.btn{
    width: 200;
    height: 40;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 14;
    background-color: hsl(158, 36%, 37%);
}
img{
    width: 400;
    height: 400px;
    border-radius: 4px 0px 0px 4px;

}
.text{
    font-family: 'Fraunces', serif;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 20;
   
    height: 100px;
    width: 400px;
}
.btn:hover{
   background-color: hsl(158, 36%, 30%);
}
.str{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 300px;
    position: relative;
}
.one-text{
    color: gray;
   margin-right: 230px;
   margin-top: -210;
}
